<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Vehicle List</title>
</head>
<body>
    <h1>Vehicles</h1>
    <a href="{% url 'vehicle_add' %}">Add Vehicle</a>
    <ul>
        {% for vehicle in vehicles %}
        <li><a href="{% url 'vehicle_detail' vehicle.pk %}">{{ vehicle }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
